<!DOCTYPE html>
<html lang="es">
    <%- include("partials/head.ejs") %>
<body>
    <%- include("partials/header.ejs") %>
    <main>
        <div class="detalle">
            <p><a href="/">inicio</a>><a href="/products/<%= product.category.id %>"><%= product.category.category %></a>><a><%= product.brand.brand%></a></p>

        </div>
        <article class="imagenes">
            <div class="imagen-principal">
                <img src="/images/products/<%= product.images[0].image %>" alt="">
            </div>
            <div class="imagen-1">
                <img  src="/images/detalleProducto/tv-samsung1.jpg" alt="">
                <img  src="/images/detalleProducto/tv-samsung2.jpg" alt="">
                <img  src="/images/detalleProducto/tv-samsung3.jpg" alt="">
            </div>

        </article>
        <section class="box-1">
            <div class="botones">
                <button class="boton1">comprar</button>
                <button class="boton2">agregar al carrito</button>
            </div>
            <div class="nombre-producto">
                <h3>
                    <%= product.name %>
                </h3>
                <h3> $ <%= product.price %>  </h3>
            </div>


            <h4>cuotas</h4>
            <select class="selecciona-cuotas">
                <option value="0">Seleccionar cuotas</option>
                <option value="1">3 cuotas de $<%- ((Number(product.price)*1.1)/3).toFixed(2) %> </option>
                <option value="2">6 cuotas de $<%- ((Number(product.price)*1.13)/6).toFixed(2) %> </option>
                <option value="3">9 cuotas de $<%- ((Number(product.price)*1.16)/9).toFixed(2) %> </option>
                <option value="4">12 cuotas de $<%- ((Number(product.price)*1.20)/12).toFixed(2) %> </option>
            </select>
            <div class="etiquetas">
                <p><i class="fas fa-credit-card">
                        Medios de pagos</i></p>
                <p><i class="fas fa-truck">
                        Envios a todo el pais</i></p>
                <a href="">Calcular costo de Envios</a>
            </div>
        </section>
        <section class="especificaciones">
            <div class="especificaciones-tecnicas">
                <h4>Especificaciones tecnicas</h4>
                <ul>
                    <li>Marca: <%= product.brand.brand %> </li>

                    <% if (product.sizes[0]) { %> 
                        <li>Pulgadas: <%= product.sizes[0].sizes %> </li>
                    <% } %> 

                    <% if (product.rams[0]) { %> 
                        <li>RAM:
                            <%let ramMemory = []; product.rams.forEach(ram => { %>
                                <% ramMemory.push(ram.ram) %> 
                            <% }) %>     
                            <%= ramMemory.join(', ') %> 
                        </li>
                    <% } %> 

                    <% if (product.smart) {%> 
                        <li>Smart: <%= product.smart %> </li>
                    <% } %> 


                    <% if (product.capacities[0]) { %> 
                        <li>Capacidad: 
                            <%let capacidades = []; product.capacities.forEach(capacity => { %>
                                <% capacidades.push(capacity.capacity) %> 
                            <% }) %> 
                            <%= capacidades.join(', ') %> 
                        </li>
                    <% } %> 
                </ul>
            </div>
            <div class="descripcion-del-producto">
                <h4>Descripcion del producto</h4>
                <p> <%= product.description %>  </p>

            </div>
        </section>
        <section class="recomendaciones">
            <h2>Personas interesadas en este producto tambien vieron</h2>
           <div class="productos-finales">
               <article class="productos-recomendados">
                <img src="/images/detalleProducto/tv-eNova.jpg" alt="">
                <div class="nombre"><p> Smart TV eNova 50 " 4K Ultra HD 50D1U/2</p>
                <p>$58.999</p>
                </div>
            </article>
            <article class="productos-recomendados">

                <img src="/images/detalleProducto/tv-hitachi.jpg" alt="">
               <div class="nombre"><p>Smart TV HITACHI 50 " HD CDH-LE504KSMART20</p>
                <p>$59.999</p>
            </div> 
            </article>

            <article class="productos-recomendados">

                <img src="/images/detalleProducto/tv-philips.jpg" alt="">
               <div class="nombre"><p>Smart TV Philips 43 " Full HD 43PFD6825/77.</p>
                <p>$39.999</p>
               </div>
            </article>
            </div>
            <div class="ver-mas">
            <a>ver mas publicaciones ></a>
        </div>


        </section>




    </main>
         <%- include("partials/footer.ejs") %> 


</body>

</html>