<!DOCTYPE html>
<html lang="es">
<%- include("partials/head.ejs") %>

    <body id="listado-productos">
        <%- include("partials/header.ejs") %>
        <main id="listado-productos">
            <% if(lista.length == 0){ %>
                <% if(listado == "category"){ %> 
                    <h2>Por el momento no hay productos en esta categoria.</h2>
                <% } else if (listado == "search") { %> 
                    <h2>No hubo resultados para tu búsqueda</h2>
                <% } %> 
            <% } else{ %> 
            <aside class="filtros">
                <h1 class="buscado"><%= busqueda %> </h1>
                <span class="numero-resultados"><%= lista.length %> <%= lista.length == 1 ?  'resultado' : 'resultados' %></span>
                         
            </aside>
            <section class="listado">
                <% lista.forEach(product => { %> 
                    <article class="producto"
                    <% claves.forEach(clave => { %>
                        <%= clave %>= 
                        <% if(product[clave] != null && product[clave] != undefined && product[clave] != ""){ %>
                            <%= product[clave][0] ? product[clave][0][clave] : product[clave] %>  
                        <% }else{ %> 
                            ""
                        <% } %>  
                    <% }) %> >
                        <a href="/products/detalleDeProducto/<%= product.id %> ">
                            <div class="product-img">
                                <img src="/images/products/<%= product.images[0].dataValues.image %>" alt="">
                            </div>
                            <div class="description">
                                <h3><%= product.name %></h3>
                                <p class="price">$ <%= product.price %></p>
                            </div>
                        </a>
                    </article> 
                <% }) %> 
            </section>
            <% } %> 
        </main>
        <main id="listado-productos-desktop">
            <% if(lista.length == 0){ %>
                <% if(listado == "category"){ %> 
                    <h2>Por el momento no hay productos en esta categoria.</h2>
                <% } else if (listado == "search") { %> 
                    <h2>No hubo resultados para tu búsqueda</h2>
                <% } %> 
            <% } else{ %> 
            <aside class="filtros">
                <h1 class="buscado"><%= busqueda %> </h1>
                <span class="numero-resultados"><%= lista.length %> <%= lista.length == 1 ?  'resultado' : 'resultados' %></span>
                            
            </aside>
            <section class="listado">
                <% lista.forEach(product => { %> 
                    <article class="producto"
                    <% claves.forEach(clave => { %>
                        <%= clave %>= 
                        <% if(product[clave] != null && product[clave] != undefined && product[clave] != ""){ %>
                            <%= product[clave][0] ? product[clave][0][clave] : product[clave] %>  
                        <% }else{ %> 
                            ""
                        <% } %>  
                    <% }) %> >
                        <a href="/products/detalleDeProducto/<%= product.id %> ">
                            <div class="product-img">
                                <img src="/images/products/<%= product.images[0].dataValues.image %>" alt="">
                            </div>
                            <div class="description">
                                <h3><%= product.name %></h3>
                                <p class="price">$ <%= product.price %></p>
                            </div>
                        </a>
                    </article> 
                <% }) %> 
            </section>
            <% } %> 
        </main>
        <%- include("partials/footer.ejs") %> 
    </body>
    <script src="/javaScripts/listadoProductos.js" defer></script>
</html>