<!DOCTYPE html>
<html lang="es">
    <%- include("partials/head.ejs") %>
<body>
    <%- include("partials/header-formularios.ejs") %> 
    <main class="formularios-reg">
        
        <section class="caja-central">
            <h2>bienvenido</h2>
            <form  id="formLogin" action="/accounts/login" method="POST">
            <div class="ingreso">
                <div class="mail">
                    <h4>E-mail</h4>
                    <input id="email" type="text" name="email" placeholder="Ingresa E-mail">
                    <% if (locals.errors && errors.email) { %>
                        <small class="text-danger"><%= errors.email.msg %> </small>
                    <% } %>
                    <!-- <span class="error-message">Debe ingresar su E-mail</span> -->
                </div>
                <div class="contraseña contra">
                    <h4>contraseña</h4>
                    <input id="password" type="password" name="pass" placeholder="Ingresa contraseña">
                    <a role="button" class="password-view" >
                        <span class="eye-open" style="display: none;"><i class="far fa-eye"></i></span>
                        <span class="eye-closed"><i class="far fa-eye-slash"></i></span>
                    </a>
                    <% if (locals.errors && errors.pass) { %>
                        <small class="text-danger"><%= errors.pass.msg %> </small>
                    <% } %>
                    <!-- <span class="error-message">Debe ingresar su contraseña</span> -->
                </div>
            </div>
            <div class="recuperar-contraseña">
                <a href="/accounts/recuperarcontra">recuperar contraseña</a>
            </div>
            <div class="recordarme">
                <input type="checkbox" name="recordarme" id="recordarme">
                <label for="recordarme">Recordarme</label>
            </div>
            <div class="botones">
                <small id="submitErrors" class="text-danger"></small>
                <button class="boton-ingreso">ingresar</button>
                <p>0</p>
                <button type="submit" class="boton-cuenta"><a href="/accounts/register">crear una cuenta</a></button>
            </div>

        </section>
    </form>
    </main>
        <%- include("partials/footer.ejs") %> 
        <script src="/javaScripts/loginValidatorFront.js"></script>
</body>
</html>
