<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <main >
        <h3 class="all-products" >Todos nuestros productos</h3>
        <div class="category">
            <h3>Televisores</h3>
        </div>
        <section class="products">
        <div class="card-product">
             <% productsTelevisores.forEach(product => { %>
                <div class="product">
                    <a class="detalle-product" href="/detalleDeProducto/<%= product.id %>">
                    <img src="/images/products/<%- product.image %> " alt="">
                    </a>
                    <div>
                        <h5><%= product.name.toUpperCase() %></h5>
                        <p class="card-text">Precio: $<%= product.price %></p>
                        <p class="card-text">Categoria: <%= product.category %></p>
                        <!-- <p class="card-text">ID: <%= product.id %></p>
                        <p class="card-text">Marca: <%= product.marca %></p>
                        <p class="card-text">Tamaño: <%= product.tamaño %></p>
                        <p class="card-text">Smart: <%= product.smart %></p>
                        <p class="card-text">RAM: <%= product.ram %></p>
                        <p class="card-text">Capacidad: <%= product.capacidad %></p> -->
                    </div>
                
                </div>
              
             <% }) %>
        </div>        
    </section>
    <div class="category">
            <h3>Celulares</h3>
        </div>
        <section class="products">
        <div class="card-product">
             <% productsCelulares.forEach(product => { %>
                <div class="product">
                    <a class="detalle-product" href="/detalleDeProducto/<%= product.id %>">
                    <img src="/images/products/<%- product.image %> " alt="">
                </a>
                <div>
                    <h5><%= product.name.toUpperCase() %></h5>
                    <p class="card-text">Precio: <%= product.price %></p>
                    <p class="card-text">Categoria: <%= product.category %></p>
                    <!-- <p class="card-text">ID: <%= product.id %></p>
                    <p class="card-text">Marca: <%= product.marca %></p>
                    <p class="card-text">Tamaño: <%= product.tamaño %></p>
                    <p class="card-text">Smart: <%= product.smart %></p>
                    <p class="card-text">RAM: <%= product.ram %></p>
                    <p class="card-text">Capacidad: <%= product.capacidad %></p> -->
                </div>
                </div>
              
             <% }) %>
        </div>        
    </section>
    <div class="category">
            <h3>Tablets</h3>
        </div>
        <section class="products">
        <div class="card-product">
             <% productsTablets.forEach(product => { %>
                <div class="product">
                    <a class="detalle-product" href="/detalleDeProducto/<%= product.id %>">
                    <img src="/images/products/<%- product.image %> " alt="">
                </a>
                <div>
                    <h5><%= product.name.toUpperCase() %></h5>
                    <p class="card-text">Precio: <%= product.price %></p>
                    <p class="card-text">Categoria: <%= product.category %></p>
                    <!-- <p class="card-text">ID: <%= product.id %></p>
                    <p class="card-text">Marca: <%= product.marca %></p>
                    <p class="card-text">Tamaño: <%= product.tamaño %></p>
                    <p class="card-text">Smart: <%= product.smart %></p>
                    <p class="card-text">RAM: <%= product.ram %></p>
                    <p class="card-text">Capacidad: <%= product.capacidad %></p> -->
                </div>
                </div>
              
             <% }) %>
        </div>        
    </section>
        <div class="category">
            <h3>Gaming</h3>
        </div>
        <section class="products">
        <div class="card-product">
             <% productsGaming.forEach(product => { %>
                <div class="product">
                    <a class="detalle-product" href="/detalleDeProducto/<%= product.id %>">
                    <img src="/images/products/<%- product.image %> " alt="">
                </a>
                <div>
                    <h5><%= product.name.toUpperCase() %></h5>
                    <p class="card-text">Precio: <%= product.price %></p>
                    <p class="card-text">Categoria: <%= product.category %></p>
                    <!-- <p class="card-text">ID: <%= product.id %></p>
                    <p class="card-text">Marca: <%= product.marca %></p>
                    <p class="card-text">Tamaño: <%= product.tamaño %></p>
                    <p class="card-text">Smart: <%= product.smart %></p>
                    <p class="card-text">RAM: <%= product.ram %></p>
                    <p class="card-text">Capacidad: <%= product.capacidad %></p> -->
                </div>
                </div>
              
             <% }) %>
        </div>        
    </section>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>