<!DOCTYPE html>
<html lang="es">
    <%- include("partials/head.ejs") %>
<body>
    <%- include("partials/header-formularios.ejs") %> 
    
    <main class="formulario-reg">
        <section class="caja-central-form">
            <h2>COMPLETA TUS DATOS</h2>
                <section class="img-avatar">
                    <h4>Agregar foto de perfil</h4>
                    <div class="avatar-img">
                        <img src="/images/UserAvatar/default-user-profile.png" alt="">
                        <input class="avatar-profile" type="file" name="avatar" id="">
                    </div>
                </section>
            <section class="datos-usuarios">
                    <div class="name">
                        <h4>Nombre</h4>
                        <p class="casil capit"><%= locals.user.name ? locals.user.name.toLowerCase() : "Nombre"%></p>
                    </div>
                    <div class="apellido">
                        <h4>Apellido</h4>
                        <p class="casil capit"><%= locals.user.lastname ? locals.user.lastname.toLowerCase() : "Apellido"%></p>
                    </div>
                    <div class="mail">
                        <h4>E-mail</h4>
                        <p class="casil"><%= locals.user.email ? locals.user.email.toLowerCase() : "E-mail"%></p>
                    </div>
                    <div class="mail">
                        <h4>Fecha de nacimiento</h4>
                        <p class="casil capit"><%= locals.user.date ? locals.user.date.toLowerCase() : "Fecha de nacimiento"%></p>
                    </div>
                    <div class="confirm-contra">
                        <h4>País</h4>
                        <p class="casil capit"><%= locals.user.pais ? locals.user.pais.toLowerCase() : "País"%></p>
                    </div>
                    <div class="confirm-contra">
                        <h4>Provincia</h4>
                        <p class="casil"><%= locals.user.province ? locals.user.province.toLowerCase() : "Provincia"%></p>
                    </div>
                    <div class="confirm-contra">
                        <h4>localidad</h4>
                        <p class="casil"><%= locals.user.localidad ? locals.user.localidad.toLowerCase() : "Localidad"%></p>
                    </div>
                    <div class="confirm-contra">
                        <h4>Codigo postal</h4>
                        <p class="casil"><%= locals.user.cp ? locals.user.cp.toLowerCase() : "Codigo postal"%></p>
                    </div>
                </section>
        <section class="button-crear">
            <a href="/accounts/editProfile"><button class="edit-profile"><i class="far fa-edit"></i>Editar perfil</button></a>                         
        </section>
        </section>
</main>
    <%- include("partials/footer.ejs") %> 
</body>
</html>