<!DOCTYPE html>
<html lang="es">
    <%- include("partials/head.ejs") %>
<body>
    <%- include("partials/header-formularios.ejs") %> 
    
    <main class="formulario-reg">
        <section class="caja-central-form">
            <h2>COMPLETA TUS DATOS</h2>
            <form id="formRegister" action="/accounts/register" method="POST" enctype="multipart/form-data">
            <section class="datos-usuarios">
                    <div class="name">
                        <h4>Nombre *</h4>
                        <input id="name" class="input-style inputValidate" type="text" name="name" placeholder="Nombre" value="<%= locals.old && old.name %>"> 
                        <% if (locals.errors && errors.name) { %>
                            <small class="text-danger"><%= errors.name.msg %> </small>
                        <% } %>
                    </div>
                    <div class="apellido">
                        <h4>Apellido *</h4>
                        <input id="lastName" class="input-style inputValidate" type="text" name="lastname" placeholder="Apellido"  %>">
                        <% if (locals.errors && errors.lastname) { %>
                            <small class="text-danger"><%= errors.lastname.msg %> </small>
                        <% } %>
                    </div>
                    <div class="mail">
                        <h4>E-mail *</h4>
                        <input id="email" class="input-style inputValidate" type="email" name="email" placeholder="E-mail">
                        <% if (locals.errors && errors.email) { %>
                            <small class="text-danger"><%= errors.email.msg %> </small>
                        <% } %>
                    </div>
                    <div class="confirm-mail">
                        <h4>Confirmar e-mail *</h4>
                        <input id="confirmEmail" class="input-style inputValidate" type="email" name="email2" placeholder="E-mail">
                        <% if (locals.errors && errors.email2) { %>
                            <small class="text-danger"><%= errors.email2.msg %> </small>
                        <% } %>
                    </div>
                    <div class="contraseña contra">
                        <h4>Contraseña *</h4>
                        <input id="password" class="input-style inputValidate" type="password" name="pass1" placeholder="Ingrese su contraseña">
                        <a role="button" class="password-view" >
                            <span class="eye-open" style="display: none;"><i class="far fa-eye"></i></span>
                            <span class="eye-closed"><i class="far fa-eye-slash"></i></span>
                        </a>
                        <small class="text-danger"></small>
                        <% if (locals.errors && errors.pass1) { %>
                            <small class="text-danger"><%= errors.pass1.msg %> </small>
                        <% } %>
                    </div>
                    <div class="confirm-contra contra">
                        <h4>Confirmar contraseña *</h4>
                        <input id="confirmPassword" class="input-style inputValidate" type="password" name="pass2" placeholder="confirmar contraseña">
                        <a role="button" class="password-view" >
                            <span class="eye-open" style="display: none;"><i class="far fa-eye"></i></span>
                            <span class="eye-closed"><i class="far fa-eye-slash"></i></span>
                        </a>
                        <small class="text-danger"></small>
                        <% if (locals.errors && errors.pass2) { %>
                            <small class="text-danger"><%= errors.pass2.msg %> </small>
                        <% } %>
                    </div>
                </section>
                <section class="img-avatar">
                    <h4>Agregar foto de perfil</h4>
                    <div class="avatar">
                        <i class="fas fa-user-circle"></i>
                        <input class="avatar-profile" type="file" name="avatar" id="">
                    
                </div>
                </section>
                <section class="check">
                    
                    <input type="checkbox" name="terms" id="terms" width="auto">
                    <label for="terms"><p>Acepto los <a href="">Termino y condiciones</a> *</p></label>
                    <% if (locals.errors && errors.terms) { %>
                        <small class="text-danger"><%= errors.terms.msg %> </small>
                    <% } %>
                    <small class="text-danger"></small>

                    <!-- <span class="error-message">Debe aceptar lostérminos y condiciones</span> -->
                </section>
        <section class="button-crear">
            <button type="submit" class="registrar">Registrarme</button>
            <small id="submitErrors" class="text-danger"></small>
            <span class="error-message">Credenciales inválidas</span>                            
        </section>
            <div class="vuelta-login">
                <span><a href="/accounts/login"><h4>ya tengo cuenta</h4></a>
            </div>
        </section>
    </form>
</main>
    <%- include("partials/footer.ejs") %> 
    <script src="/javaScripts/registerValidatorFront.js"></script>
</body>
</html>