<!DOCTYPE html>
<html lang="es">
    <%- include("partials/head.ejs") %>
<body>
    <%- include("partials/header-formularios.ejs") %> 
    
    <main class="formulario-reg">
        <section class="caja-central-form">
            <h2>COMPLETA TUS DATOS</h2>
            <section class="datos-usuarios">
                    <div class="name">
                        <h4>nombre</h4>
                        <input class="input-style" type="text" name="name" placeholder="Nombre"> 
                        <% if (locals.errors && errors.name) { %>
                            <small class="text-danger"><%= errors.name.msg %> </small>
                        <% } %>
                    </div>
                    <div class="apellido">
                        <h4>Apellido</h4>
                        <input class="input-style" type="text" name="lastname" placeholder="Apellido">
                        <% if (locals.errors && errors.lastname) { %>
                            <small class="text-danger"><%= errors.lastname.msg %> </small>
                        <% } %>
                    </div>
                    <div class="mail">
                        <h4>E-mail</h4>
                        <input class="input-style" type="email" name="email" placeholder="E-mail">
                        <% if (locals.errors && errors.email) { %>
                            <small class="text-danger"><%= errors.email.msg %> </small>
                        <% } %>
                    </div>
                    <div class="confirm-mail">
                        <h4>Confirmar e-mail</h4>
                        <input class="input-style" type="email" name="email2" placeholder="E-mail">
                        <% if (locals.errors && errors.email2) { %>
                            <small class="text-danger"><%= errors.email2.msg %> </small>
                        <% } %>
                    </div>
                    <div class="contraseña">
                        <h4>contraseña</h4>
                        <input class="input-style" type="password" name="pass" placeholder="Ingrese su contraseña">
                        <% if (locals.errors && errors.pass) { %>
                            <small class="text-danger"><%= errors.pass.msg %> </small>
                        <% } %>
                    </div>
                    <div class="confirm-contra">
                        <h4>confirmar contraseña</h4>
                        <input class="input-style" type="password" name="pass2" placeholder="confirmar contraseña">
                        <% if (locals.errors && errors.pass2) { %>
                            <small class="text-danger"><%= errors.pass2.msg %> </small>
                        <% } %>
                    </div>
                </section>
                <section class="check">
                    <input type="checkbox" name="terms" id=""width="auto"><p>Acepto los <a href="">Termino y condiciones</a></p>
                    <span class="error-message">Debe aceptar lostérminos y condiciones</span>
                </section>
        <section class="button-crear">
            <button type="submit" class="registrar">Registrarme</button>
            <span class="error-message">Credenciales inválidas</span>                            
        </section>
            <div class="vuelta-login">
                <span><a href="/accounts/login"><h4>ya tengo cuenta</h4></a>
            </div>
        </section>
</main>
    <%- include("partials/footer.ejs") %> 
</body>
</html>