<!DOCTYPE html>
<html lang="es">
    <%- include("partials/head.ejs") %>
<body>
    <%- include("partials/header-formularios.ejs") %> 
    
    <main class="formulario-reg">
        <section class="caja-central-form">
            <h2>COMPLETA TUS DATOS</h2>
            <form action="/accounts/editProfile?_method=PUT" method="POST"> <!-- se aplicara el metodo POST una vezque esten realizados los procesos en el controlador -->
                <section class="img-avatar">
                    <h4>Agregar foto de perfil</h4>
                    <div class="avatar-img">
                        <img src="/images//UserAvatar/default-user-profile.png" alt="">
                        <input class="avatar-profile" type="file" name="avatar" id="">
                    </div>
                </section>
            <section class="datos-usuarios">
                    <div class="name">
                        <h4>nombre</h4>
                        <input class="input-style" type="text" name="name" placeholder="Nombre" value="<%= locals.old ? old.name : locals.user.name%>"> 
                    </div>
                    <div class="apellido">
                        <h4>Apellido</h4>
                        <input class="input-style" type="text" name="lastname" placeholder="Apellido" value="<%= locals.old ? old.lastname:locals.user.lastname %>">
                       
                    </div>
                    <div class="mail">
                        <h4>E-mail</h4>
                        <input class="input-style" type="email" name="email" placeholder="E-mail"  value="<%= locals.old ? old.email:locals.user.email %>">
                        
                    </div>
                    <div class="confirm-mail">
                        <h4>fecha de nacimiento</h4>
                        <input class="input-style-date" type="date" name="date"  value="<%= locals.old ? old.date:locals.user.date %>">
                    </div>
                    <div class="contraseña">
                        <h4>contraseña</h4>
                        <input class="input-style" type="password" name="pass1" placeholder="Ingrese su contraseña" value="<%= locals.old ? old.pass1:locals.user.pass1 %>">
                        
                    </div>
                    <div class="confirm-contra">
                        <h4>confirmar contraseña</h4>
                        <input class="input-style" type="password" name="pass2" placeholder="confirmar contraseña" value="<%= locals.old ? old.pass2:locals.user.pass2 %>">
                        
                    </div>
                    <div class="confirm-contra">
                        <h4>País</h4>
                        <input class="input-style" type="text" name="pais" placeholder="Ingresa el país" value="<%= locals.old ? old.pais:locals.user.pais %>">
                        
                    </div>
                    <div class="confirm-contra">
                        <h4>Provincia</h4>
                        <input class="input-style" type="text" name="province" placeholder="Ingresa tu provincia" value="<%= locals.old ? old.province:locals.user.province %>">
                      
                    </div>
                    <div class="confirm-contra">
                        <h4>localidad</h4>
                        <input class="input-style" type="text" name="localidad" placeholder="Ingresa tu localidad" value="<%= locals.old ? old.localidad:locals.user.localidad %>">
                       
                    </div>
                    <div class="confirm-contra">
                        <h4>Codigo postal</h4>
                        <input class="input-style" type="text" name="cp" placeholder="Ingresa el codigo correspondiente" value="<%= locals.old ? old.cp:locals.user.cp%>">
                        
                    </div>
                </section>
        <section class="button-crear">
            <button type="submit" class="registrar">guardar cambios</button>                         
        </section>
        </section>
    </form>
</main>
    <%- include("partials/footer.ejs") %> 
</body>
</html>