<!DOCTYPE html>
<html lang="es">
    <%- include("partials/head.ejs") %>
<body>
    <%- include("partials/header-formularios.ejs") %> 
    
    <main class="formulario-reg">
        <section class="caja-central-form">
            <h2>COMPLETA TUS DATOS</h2>
            <form action="/accounts/register"> <!-- se aplicara el metodo POST una vezque esten realizados los procesos en el controlador -->
                <section class="img-avatar">
                    <h4>Agregar foto de perfil</h4>
                    <div class="avatar-img">
                        <img src="/images/logo-sm4rttech.png" alt="">
                        <input class="avatar-profile" type="file" name="avatar" id="">
                    </div>
                </section>
            <section class="datos-usuarios">
                    <div class="name">
                        <h4>nombre</h4>
                        <input class="input-style" type="text" name="name" placeholder="Nombre" value="<%= locals.old && old.name %>"> 
                    </div>
                    <div class="apellido">
                        <h4>Apellido</h4>
                        <input class="input-style" type="text" name="lastname" placeholder="Apellido" value="<%= locals.old && old.lastname %>">
                        <% if (locals.errors && errors.lastname) { %>
                            <small class="text-danger"><%= errors.lastname.msg %> </small>
                        <% } %>
                    </div>
                    <div class="mail">
                        <h4>E-mail</h4>
                        <input class="input-style" type="email" name="email" placeholder="E-mail">
                        <% if (locals.errors && errors.email) { %>
                            <small class="text-danger"><%= errors.email.msg %> </small>
                        <% } %>
                    </div>
                    <div class="confirm-mail">
                        <h4>fecha de nacimiento</h4>
                        <input class="input-style-date" type="date" name="date">
                    </div>
                    <div class="contraseña">
                        <h4>contraseña</h4>
                        <input class="input-style" type="password" name="pass1" placeholder="Ingrese su contraseña">
                        <% if (locals.errors && errors.pass1) { %>
                            <small class="text-danger"><%= errors.pass1.msg %> </small>
                        <% } %>
                    </div>
                    <div class="confirm-contra">
                        <h4>confirmar contraseña</h4>
                        <input class="input-style" type="password" name="pass2" placeholder="confirmar contraseña">
                        <% if (locals.errors && errors.pass2) { %>
                            <small class="text-danger"><%= errors.pass2.msg %> </small>
                        <% } %>
                    </div>
                    <div class="confirm-contra">
                        <h4>País</h4>
                        <input class="input-style" type="text" name="pais" placeholder="Ingresa el país">
                        <% if (locals.errors && errors.pass2) { %>
                            <small class="text-danger"><%= errors.pass2.msg %> </small>
                        <% } %>
                    </div>
                    <div class="confirm-contra">
                        <h4>Provincia</h4>
                        <input class="input-style" type="text" name="province" placeholder="Ingresa tu provincia">
                        <% if (locals.errors && errors.pass2) { %>
                            <small class="text-danger"><%= errors.pass2.msg %> </small>
                        <% } %>
                    </div>
                    <div class="confirm-contra">
                        <h4>localidad</h4>
                        <input class="input-style" type="text" name="localidad" placeholder="Ingresa tu localidad">
                        <% if (locals.errors && errors.pass2) { %>
                            <small class="text-danger"><%= errors.pass2.msg %> </small>
                        <% } %>
                    </div>
                    <div class="confirm-contra">
                        <h4>Codigo postal</h4>
                        <input class="input-style" type="text" name="cp" placeholder="Ingresa el codigo correspondiente">
                        <% if (locals.errors && errors.pass2) { %>
                            <small class="text-danger"><%= errors.pass2.msg %> </small>
                        <% } %>
                    </div>
                </section>
        <section class="button-crear">
            <button type="submit" class="registrar">guardar cambios</button>                         
        </section>
        </section>
    </form>
</main>
    <%- include("partials/footer.ejs") %> 
</body>
</html>