<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sm4rtTech</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>   

</head>
<body class="admin">
    <%- include('./partials/headerAdmin.ejs') %> 
    <main class="admin">
        <%- include('./partials/navAdmin.ejs') %>
        <section class="formAdmin">
            <section class="caja-central-form">
                <h2>AGREGAR PRODUCTOS</h2>
                
                <form action="/admin/agregar" method="POST" enctype="multipart/form-data">
                <section class="datos-usuarios">
                    <div>
                        <h4>Categorias</h4>
                        <select name="category" id="category">
                            <option selected hidden value="">Categorias...</option>
                            <% categorias.forEach(categoria => { %>
                                <option value="<%= categoria.id %>"  <%= locals.old && old.categoria.category == categoria.category ? "selected" : null %>><%= categoria.category %></option>
                            <% }) %> 

                        </select>
                        <% if (locals.errors && errors.category) { %> <!-- busca en las variables de nuestra aplicacion -->
                         <small class="text-danger"> <%= errors.category.msg %>  </small>
                        <% } %>
                    </div>
                    <div>
                        <h4>marcas</h4>
                        <select name="marca" id="">
                            <option selected hidden value="">Marcas...</option>
                            <% marcas.forEach(marca => { %>
                                <option value="<%= marca.id %>" <%= locals.old && old.marca.brand == marca.brand ? "selected" : null %>><%= marca.brand %> </option>
                            <% }) %>

                        </select>
                        <% if (locals.errors && errors.marca) { %> <!-- busca en las variables de nuestra aplicacion -->
                            <small class="text-danger"> <%= errors.marca.msg %>  </small>
                           <% } %>
                    </div>
                    <div>
                        <h4>precio</h4>
                        <input class="input-style" type="text" id="price" name="price" placeholder="$" value="<%= locals.old && old.price %>" autocomplete="off">
                        <% if (locals.errors && errors.price) { %> <!-- busca en las variables de nuestra aplicacion -->
                            <small class="text-danger"> <%= errors.price.msg %>  </small>
                           <% } %>
                    </div>
                    <div class="name">
                        <h4>nombre del producto</h4>
                        <input class="input-style" type="text" name="name" placeholder="Nombre" value="<%= locals.old && old.name %>" autocomplete="off">
                        <% if (locals.errors && errors.name) { %> <!-- busca en las variables de nuestra aplicacion -->
                            <small class="text-danger"> <%= errors.name.msg %>  </small>
                           <% } %>
                    </div>
                    <div>
                        <h4>Tamaño de pantalla</h4>
                        <select name="tamaño" id="tamaño">
                            <option selected hidden value="">Pulgadas...</option>
                            <% tamaños.forEach(tamaño => { %>
                                <option value="<%= tamaño.sizes %>" <%= locals.old && old.tamaño.sizes == tamaño.sizes ? "selected" : null %>><%= tamaño.sizes %></option>
                            <% }) %>         
                        </select>
                    </div>
                    <div>
                        <h4>smart</h4>
                        <select name="smart" id="">
                            <option selected hidden value="">Seleccionar...</option>
                            <option value="1" <%= locals.old && old.smart == "1" ? "selected" : null %>>Si</option>
                            <option value="0" <%= locals.old && old.smart == "0" ? "selected" : null %>>No</option>
                        </select>
                    </div>
                    <div>
                        <h4>capacidad</h4>
                        <select name="capacity" id="capacity">
                            <option selected hidden value="">GB</option>
                            <% capacidades.forEach(capacidad => { %>
                                <option value="<%= capacidad.capacity_id %>" <%= locals.old && old.capacidad.capacity == capacidad.capacity ? "selected" : null %>><%= capacidad.capacity %></option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="apellido">
                        <h4>RAM</h4>
                        <select name="ram" id="ram">
                            <option selected hidden value="">GB</option>
                            <% rams.forEach(ram => { %>
                                <option value="<%= ram.ram_id %>" <%= locals.old && old.ram.ram == ram.ram ? "selected" : null %>><%= ram.ram %></option>
                            <% }) %>
                            
                        </select>
                    </div>
                    <section class="img-coment">
                    <div>
                        <h4>Imagenes</h4>
                        <input class="input-file" type="file" multiple="" name="image" id="image">
                    </div>
                    <h4>descripción</h4>
                    <textarea name="description" id="description" cols="30" rows="10"><%= locals.old && old.description %></textarea>
                    <% if (locals.errors && errors.description) { %> <!-- busca en las variables de nuestra aplicacion -->
                        <small class="text-danger"> <%= errors.description.msg %>  </small>
                       <% } %>
            </section>
            <div class="botones-confirm">
                <section class="button-crear">
                    <button type="submit" class="guardar" cursor="pointer">agregar producto</button>
                </section>
            </div>
        </section>
    </form>
    </main>

</body>
</html>