<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sm4rtTech</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>   

</head>
<body class="admin">
    <%- include('./partials/headerAdmin.ejs') %> 
    <main class="admin">
        <%- include('./partials/navAdmin.ejs') %>
        <section class="formAdmin">
            <section class="caja-central-form">
                <h2>AGREGAR PRODUCTO</h2>
                
                <form id="formAddProduct"" action="/admin/agregar" method="POST" enctype="multipart/form-data">
                <section class="datos-usuarios">
                    <div>
                        <h4>Categoria</h4>
                        <select name="category" id="category">
                            <option selected hidden value="">Seleccionar</option>
                            <% categorias.forEach(categoria => { %>
                                <option value="<%= categoria.id %>"  <%= locals.old && old.category == categoria.id ? "selected" : null %>><%= categoria.category %></option>
                            <% }) %> 

                        </select>
                        <% if (locals.errors && errors.category) { %> <!-- busca en las variables de nuestra aplicacion -->
                         <small class="text-danger"> <%= errors.category.msg %>  </small>
                        <% } %>
                    </div>
                    <div>
                        <h4>Marca</h4>
                        <select name="marca">
                            <option selected hidden value="">Seleccionar</option>
                            <% marcas.forEach(marca => { %>
                                <option value="<%= marca.brand_id %>" <%= locals.old && old.marca == marca.brand_id ? "selected" : null %>><%= marca.brand %> </option>
                            <% }) %>

                        </select>
                        <% if (locals.errors && errors.marca) { %> <!-- busca en las variables de nuestra aplicacion -->
                            <small class="text-danger"><%= errors.marca.msg %></small>
                        <% } %>
                    </div>
                    <div>
                        <h4>Precio</h4>
                        <input class="input-style" type="text" id="price" name="price" placeholder="$" value="<%= locals.old && old.price %>" autocomplete="off">
                        <% if (locals.errors && errors.price) { %> <!-- busca en las variables de nuestra aplicacion -->
                            <small class="text-danger"><%= errors.price.msg %></small>
                        <% } %>
                    </div>
                    <div class="name">
                        <h4>Nombre del producto</h4>
                        <input id="name" class="input-style" type="text" name="name" placeholder="Nombre" value="<%= locals.old && old.name %>" autocomplete="off">
                        <% if (locals.errors && errors.name) { %> <!-- busca en las variables de nuestra aplicacion -->
                            <small class="text-danger"> <%= errors.name.msg %>  </small>
                        <% } %>
                    </div>
                    <div>
                        <h4>Tamaño de pantalla</h4>
                        <select name="tamaño" id="tamaño">
                            <option selected hidden value="">Seleccionar</option>
                            <% tamaños.forEach(tamaño => { %>
                                <option value="<%= tamaño.size_id %>" <%= locals.old && old.tamaño == tamaño.size_id ? "selected" : null %>><%= tamaño.sizes %></option>
                            <% }) %>         
                        </select>
                    </div>
                    <div>
                        <h4>Smart</h4>
                        <select name="smart" id="">
                            <option selected hidden value="">Seleccionar</option>
                            <option value="Si" <%= locals.old && old.smart == "Si" ? "selected" : null %>>Si</option>
                            <option value="No" <%= locals.old && old.smart == "No" ? "selected" : null %>>No</option>
                        </select>
                    </div>
                    <div>
                        <h4>Capacidad</h4>
                        <select name="capacity" id="capacity">
                            <option selected hidden value="">Seleccionar</option>
                            <% capacidades.forEach(capacidad => { %>
                                <option value="<%= capacidad.capacity_id %>" <%= locals.old && old.capacity == capacidad.capacity_id ? "selected" : null %>><%= capacidad.capacity %></option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="apellido">
                        <h4>RAM</h4>
                        <select name="ram" id="ram">
                            <option selected hidden value="">Seleccionar</option>
                            <% rams.forEach(ram => { %>
                                <option value="<%= ram.ram_id %>" <%= locals.old && old.ram == ram.ram_id ? "selected" : null %>><%= ram.ram %></option>
                            <% }) %>
                            
                        </select>
                    </div>
                    <div class="apellido">
                        <h4>Color</h4>
                        <select name="color" id="color">
                            <option selected hidden value="">Seleccionar</option>
                            <% colores.forEach(color => { %>
                                <option value="<%= color.color_id %>" <%= locals.old && old.color == color.color_id ? "selected" : null %>><%= color.color %></option>
                            <% }) %>
                        </select>
                    </div>
                    <section class="img-coment">
                    <div>
                        <h4>Imágenes</h4>
                        <input class="input-file" type="file" name="image" id="image" multiple>
                        <div class="imagePrev-box">
                            <img id="imagenPrevisualizacion">
                        </div>
                    </div>
                    <h4>Descripción</h4>
                    <textarea name="description" id="description" cols="30" rows="10"><%= locals.old && old.description %></textarea>
                        <% if (locals.errors && errors.description) { %> <!-- busca en las variables de nuestra aplicacion -->
                            <small class="text-danger"><%= errors.description.msg %></small>
                       <% } %>
            </section>
            <div id="darken" style="display: none;">
                <div id="redireccion">
                    <input type="text" name="redireccion" id="redireccionar" value="" style="display: none;">
                    <button class="redirect" name="ignorar" value="detalle">Ir al detalle de producto</button>
                    <button class="redirect" name="ignorar" value="seguir">Seguir agregando productos</button>
                </div>
            </div>
            <div class="botones-confirm">
                <section class="button-crear">
                    <small id="submitErrors" class="text-danger"></small>
                    <button type="submit" class="guardar" cursor="pointer">agregar producto</button>
                </section>
            </div>
        </section>
    </form>
    </main>

    <script src="/javaScripts/imagenPrev.js" defer></script>
    <script src="/javaScripts/addProductValidatorFront.js" defer></script>
</body>
</html>