<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sm4rtTech</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>   

</head>
<body class="admin">
    <%- include('./partials/headerAdmin.ejs') %> 
    <main class="admin">
        <%- include('./partials/navAdmin.ejs') %>
        <section class="formAdmin">
            <section class="caja-central-form">
                <h2>AGREGAR PRODUCTOS</h2>
                
                <form action="/admin/agregar" method="POST" enctype="multipart/form-data">
                <section class="datos-usuarios">
                    <div>
                        <h4>Categorias</h4>
                        <select name="category" id="category">
                            <option selected hidden value="">Categorias...</option>
                            <option value="celulares" <%= locals.old && old.category == "celulares" ? "selected" : null %>>Celulares</option>
                            <option value="televisores" <%= locals.old && old.category == "televisores" ? "selected" : null %>>Televisores</option>
                            <option value="tablets" <%= locals.old && old.category == "tablets" ? "selected" : null %>>Tablets</option>
                            <option value="gaming" <%= locals.old && old.category == "gaming" ? "selected" : null %>>Gaming</option>
                            <option value="pc" <%= locals.old && old.category == "pc" ? "selected" : null %>>PC</option>
                        </select>
                        <% if (locals.errors && errors.category) { %> <!-- busca en las variables de nuestra aplicacion -->
                         <small class="text-danger"> <%= errors.category.msg %>  </small>
                        <% } %>
                    </div>
                    <div>
                        <h4>marcas</h4>
                        <select name="marca" id="">
                            <option selected hidden value="">Marcas...</option>
                            <option value="aorus" <%= locals.old && old.marca == "aorus" ? "selected" : null %>>Aorus</option>
                            <option value="apple" <%= locals.old && old.marca == "apple" ? "selected" : null %>>Apple</option>
                            <option value="asus" <%= locals.old && old.marca == "asus" ? "selected" : null %>>Asus</option>
                            <option value="hp" <%= locals.old && old.marca == "hp" ? "selected" : null %>>HP</option>
                            <option value="lenovo" <%= locals.old && old.marca == "lenovo" ? "selected" : null %>>Lenovo</option>
                            <option value="lg" <%= locals.old && old.marca == "lg" ? "selected" : null %>>LG</option>
                            <option value="samsung" <%= locals.old && old.marca == "samsung" ? "selected" : null %>>Samsung</option>
                            <option value="toshiba" <%= locals.old && old.marca == "toshiba" ? "selected" : null %>>Toshiba</option>
                        </select>
                        <% if (locals.errors && errors.marca) { %> <!-- busca en las variables de nuestra aplicacion -->
                            <small class="text-danger"> <%= errors.marca.msg %>  </small>
                           <% } %>
                    </div>
                    <div>
                        <h4>precio</h4>
                        <input class="input-style" type="text" id="price" name="price" placeholder="$" value="<%= locals.old && old.price %>" >
                        <% if (locals.errors && errors.price) { %> <!-- busca en las variables de nuestra aplicacion -->
                            <small class="text-danger"> <%= errors.price.msg %>  </small>
                           <% } %>
                    </div>
                    <div class="name">
                        <h4>nombre del producto</h4>
                        <input class="input-style" type="text" name="name" placeholder="Nombre" value="<%= locals.old && old.name %>">
                        <% if (locals.errors && errors.name) { %> <!-- busca en las variables de nuestra aplicacion -->
                            <small class="text-danger"> <%= errors.name.msg %>  </small>
                           <% } %>
                    </div>
                    <div>
                        <h4>Tamaño de pantalla</h4>
                        <select name="tamaño" id="tamaño">
                            <option selected hidden value="">Pulgadas...</option>
                            <option value="7''" <%= locals.old && old.tamaño == "7''" ? "selected" : null %>>7"</option>
                            <option value="8.7''" <%= locals.old && old.tamaño == "8.7''" ? "selected" : null %>>8.7"</option>
                            <option value="10''" <%= locals.old && old.tamaño == "10''" ? "selected" : null %>>10"</option>
                            <option value="10.1''" <%= locals.old && old.tamaño == "10.1''" ? "selected" : null %>>10.1"</option>
                            <option value="10.2''" <%= locals.old && old.tamaño == "10.2''" ? "selected" : null %>>10.2"</option>
                            <option value="10.3''" <%= locals.old && old.tamaño == "10.3''" ? "selected" : null %>>10.3"</option>
                            <option value="10.4''" <%= locals.old && old.tamaño == "10.4''" ? "selected" : null %>>10.4"</option>
                            <option value="10.9''" <%= locals.old && old.tamaño == "10.9''" ? "selected" : null %>>10.9"</option>
                            <option value="11''" <%= locals.old && old.tamaño == "11''" ? "selected" : null %>>11"</option>
                            <option value="11.6''" <%= locals.old && old.tamaño == "11.6''" ? "selected" : null %>>11.6"</option>
                            <option value="13''" <%= locals.old && old.tamaño == "13''" ? "selected" : null %>>13"</option>
                            <option value="13.3''" <%= locals.old && old.tamaño == "13.3''" ? "selected" : null %>>13.3"</option>
                            <option value="13.4''" <%= locals.old && old.tamaño == "13.4''" ? "selected" : null %>>13.4"</option>
                            <option value="13.5''" <%= locals.old && old.tamaño == "13.5''" ? "selected" : null %>>13.5"</option>
                            <option value="13.8''" <%= locals.old && old.tamaño == "13.8''" ? "selected" : null %>>13.8"</option>
                            <option value="14''" <%= locals.old && old.tamaño == "14''" ? "selected" : null %>>14"</option>
                            <option value="14.1''" <%= locals.old && old.tamaño == "14.1''" ? "selected" : null %>>14.1"</option>
                            <option value="15.6''" <%= locals.old && old.tamaño == "15.6''" ? "selected" : null %>>15.6"</option>
                            <option value="24''" <%= locals.old && old.tamaño == "24''" ? "selected" : null %>>24"</option>
                            <option value="32''" <%= locals.old && old.tamaño == "32''" ? "selected" : null %>>32"</option>
                            <option value="40''" <%= locals.old && old.tamaño == "40''" ? "selected" : null %>>40"</option>
                            <option value="42''" <%= locals.old && old.tamaño == "42''" ? "selected" : null %>>42"</option>
                            <option value="43''" <%= locals.old && old.tamaño == "43''" ? "selected" : null %>>43"</option>
                            <option value="49''" <%= locals.old && old.tamaño == "49''" ? "selected" : null %>>49"</option>
                            <option value="50''" <%= locals.old && old.tamaño == "50''" ? "selected" : null %>>50"</option>
                            <option value="55''" <%= locals.old && old.tamaño == "55''" ? "selected" : null %>>55"</option>
                            <option value="58''" <%= locals.old && old.tamaño == "58''" ? "selected" : null %>>58"</option>
                            <option value="60''" <%= locals.old && old.tamaño == "60''" ? "selected" : null %>>60"</option>
                            <option value="65''" <%= locals.old && old.tamaño == "65''" ? "selected" : null %>>65"</option>
                            <option value="70''" <%= locals.old && old.tamaño == "70''" ? "selected" : null %>>70"</option>
                        </select>
                    </div>
                    <div>
                        <h4>smart</h4>
                        <select name="smart" id="">
                            <option selected hidden value="">Seleccionar...</option>
                            <option value="si" <%= locals.old && old.smart == "si" ? "selected" : null %>>Si</option>
                            <option value="no" <%= locals.old && old.smart == "no" ? "selected" : null %>>No</option>
                        </select>
                    </div>
                    <div>
                        <h4>capacidad</h4>
                        <select name="capacity" id="capacity">
                            <option selected hidden value="capacity">GB</option>
                            <option value="8" <%= locals.old && old.capacity == "8" ? "selected" : null %>>8GB</option>
                            <option value="16" <%= locals.old && old.capacity == "16" ? "selected" : null %>>16GB</option>
                            <option value="32" <%= locals.old && old.capacity == "32" ? "selected" : null %>>32GB</option>
                            <option value="64" <%= locals.old && old.capacity == "64" ? "selected" : null %>>64GB</option>
                            <option value="128" <%= locals.old && old.capacity == "128" ? "selected" : null %>>128GB</option>
                            <option value="256" <%= locals.old && old.capacity == "256" ? "selected" : null %>>256GB</option>
                            <option value="500" <%= locals.old && old.capacity == "500" ? "selected" : null %>>500GB</option>
                            <option value="1tb" <%= locals.old && old.capacity == "1tb" ? "selected" : null %>>1TB</option>
                        </select>
                    </div>
                    <div class="apellido">
                        <h4>RAM</h4>
                        <select name="ram" id="ram">
                            <option selected hidden value="">GB</option>
                            <option value="1" <%= locals.old && old.ram == "1" ? "selected" : null %>>1GB</option>
                            <option value="1.5" <%= locals.old && old.ram == "1.5" ? "selected" : null %>>1.5GB</option>
                            <option value="2" <%= locals.old && old.ram == "2" ? "selected" : null %>>2GB</option>
                            <option value="4" <%= locals.old && old.ram == "4" ? "selected" : null %>>4GB</option>
                            <option value="8" <%= locals.old && old.ram == "8" ? "selected" : null %>>8GB</option>
                            <option value="12" <%= locals.old && old.ram == "12" ? "selected" : null %>>12GB</option>
                            <option value="16" <%= locals.old && old.ram == "16" ? "selected" : null %>>16GB</option>
                            <option value="20" <%= locals.old && old.ram == "20" ? "selected" : null %>>20GB</option>
                            <option value="32" <%= locals.old && old.ram == "32" ? "selected" : null %>>32GB</option>
                            <option value="64" <%= locals.old && old.ram == "64" ? "selected" : null %>>64GB</option>
                        </select>
                    </div>
                    <section class="img-coment">
                    <div>
                        <h4>Imagenes</h4>
                        <input class="input-file" type="file" multiple="" name="image" id="image">
                    </div>
                    <h4>descripción</h4>
                    <textarea name="description" id="description" cols="30" rows="10"><%= locals.old && old.description %>
                    </textarea>
                    <% if (locals.errors && errors.description) { %> <!-- busca en las variables de nuestra aplicacion -->
                        <small class="text-danger"> <%= errors.description.msg %>  </small>
                       <% } %>
            </section>
            <div class="botones-confirm">
                <section class="button-crear">
                    <button type="submit" class="guardar" cursor="pointer">agregar producto</button>
                </section>
            </div>
        </section>
    </form>
    </main>

</body>
</html>