<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sm4rtTech</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>   

</head>
<body class="admin">
    <%- include('./partials/headerAdmin.ejs') %> 
    <main class="admin">
        <%- include('./partials/navAdmin.ejs') %>
        <section class="formAdmin">

        <section class="caja-central-form">
            <h2>EDITAR PRODUCTOS</h2>
           
            <section class="datos-usuarios">
                <div>
                    <h4>Categorias</h4>
                    <select name="category" id="">
                        <option value=""><%= product.category%></option>
                        <option value="celulares">Celulares</option>
                        <option value="televisores">Televisores</option>
                        <option value="tablets">Tablets</option>
                        <option value="gaming">Gaming</option>
                    </select>
                </div>
                <div>
                    <h4>marcas</h4>
                    <select name="" id="">
                        <option value="<%= product.marca%>"><%= product.marca%></option>
                        <option value="Aorus">Aorus</option>
                        <option value="Aplle">Apple</option>
                        <option value="Asus">Asus</option>
                        <option value="HP">HP</option>
                        <option value="Lenovo">Lenovo</option>
                        <option value="LG">LG</option>
                        <option value="Samsung">Samsung</option>
                        <option value="Toshiba">Toshiba</option>
                    </select>
                </div>
                <div>
                    <h4>Id del producto</h4>
                    <input class="input-style" type="text" placeholder="#0000">
                </div>
                <div class="name">
                    <h4>nombre del producto</h4>
                    <input class="input-style" type="text" name="name" placeholder="Nombre" value="<%= product.name%> ">
                </div>
            </section>
            <div class="buscador">
                <table class="table table-dark table-striped">
                    <thead>
                        <th scope="colum-mobile">ID</th>
                        <th scope="colum-mobile" >Nomb. producto</th>
                        <th  class="column" scope="col">Categoria</th><!-- tablet y desktop -->
                        <th  scope="col">Stock</th>
                    </thead>
                    <tbody>

                    </tbody>
                    
                </table>
                
            </div>
            <form action="/admin/editar/<%= product.id%>?_method=PUT" method="POST"  enctype="multipart/form-data" >
            <section class="datos-usuarios">
                <div>
                    <h4>Categorias</h4>
                    <select name="" id="">
                        <option value="<%= product.category%>"><%= product.category%></option>
                        <option value="Celulares">Celulares</option>
                        <option value="Televisores">Televisores</option>
                        <option value="Tablets">Tablets</option>
                        <option value="Gaming">Gaming</option>
                    </select>
                </div>
                <div>
                    <h4>marcas</h4>
                    <select name="" id="">
                        <option value="<%= product.marca%>"><%= product.marca%></option>
                        <option value="Aorus">Aorus</option>
                        <option value="Aplle">Apple</option>
                        <option value="Asus">Asus</option>
                        <option value="HP">HP</option>
                        <option value="Lenovo">Lenovo</option>
                        <option value="LG">LG</option>
                        <option value="Samsung">Samsung</option>
                        <option value="Toshiba">Toshiba</option>
                    </select>
                </div>
                <div>
                    <h4>id del producto</h4>
                    <input class="input-style" type="text" placeholder="#0000" value="<%= product.id%> ">
                </div>
                <div class="name">
                    <h4>nombre del producto</h4>
                    <input class="input-style" type="text" name="name" placeholder="Nombre" value="<%= product.name%> ">
                </div>
                <div>
                    <h4>Tamaño de pantalla</h4>
                    <select name="" id="">
                        <option value="<%= product.tamaño%>"><%= product.tamaño%></option>
                        <option value="7"">7"</option>
                        <option value="8.7"">8.7"</option>
                        <option value="10"">10"</option>
                        <option value="10.1"">10.1"</option>
                        <option value="10.2"">10.2"</option>
                        <option value="11.3"">10.3"</option>
                        <option value="10.4"">10.4"</option>
                        <option value="10.9"">10.9"</option>
                        <option value="11"">11"</option>
                        <option value="11.6"">11.6"</option>
                        <option value="13"">13"</option>
                        <option value="13.3"">13.3"</option>
                        <option value="13.4"">13.4"</option>
                        <option value="13.5"">13.5"</option>
                        <option value="13.8"">13.8"</option>
                        <option value="14"">14"</option>
                        <option value="14.1"">14.1"</option>
                        <option value="15.6"">15.6"</option>
                        <option value="24"">24"</option>
                        <option value="32"">32"</option>
                        <option value="40"">40"</option>
                        <option value="42"">42"</option>
                        <option value="43"">43"</option>
                        <option value="49"">49"</option>
                        <option value="50"">50"</option>
                        <option value="55"">55"</option>
                        <option value="58"">58"</option>
                        <option value="60"">60"</option>
                        <option value="65"">65"</option>
                        <option value="70"">70"</option>
                    </select>
                </div>
                <div>
                    <h4>smart</h4>
                    <select name="" id="">
                        <option value="<%= product.smart%>"><%= product.smart%></option>
                        <option value="Si">Si</option>
                        <option value="No">No</option>
                    </select>
                </div>
                <div>
                    <h4>capacidad</h4>
                    <select name="" id="">
                        <option value="<%= product.capacity%>"><%= product.capacity%></option>
                        <option value="8GB">8GB</option>
                        <option value="16GB">16GB</option>
                        <option value="32GB">32GB</option>
                        <option value="64GB">64GB</option>
                        <option value="128GB">128GB</option>
                        <option value="256GB">256GB</option>
                        <option value="500GB">500GB</option>
                        <option value=""1tb>1TB</option>
                    </select>
                </div>
                <div class="apellido">
                    <h4>RAM</h4>
                    <select name="" id="">
                        <option value="<%= product.ram%>"><%= product.ram%></option>
                        <option value="1GB">1GB</option>
                        <option value="1.5GB">1.5GB</option>
                        <option value="2GB">2GB</option>
                        <option value="4GB">4GB</option>
                        <option value="8GB">8GB</option>
                        <option value="12GB">12GB</option>
                        <option value="16GB">16GB</option>
                        <option value="20GB">20GB</option>
                        <option value="32GB">32GB</option>
                        <option value="64GB">64GB</option>
                    </select>
                </div>
                <div>
                    <h4>Precio</h4>
                    <input class="input-style" type="text" id="price" name="price" value="<%= product.price %> ">
                                       
                    </div>

                <section class="img-coment">
                <div>
                    <h4>Imagenes</h4>
                    <input class="input-file" type="file" multiple="" name="[]" id="">
                </div>
                <h4>descripción</h4>
                <textarea name="description" id="" cols="30" rows="10"><%= product.description%></textarea>
        </section>
                
            </section>
            <div class="botones-confirm">
            <section class="button-crear">
                <button type="submit" class="guardar" cursor="pointer">guardar producto</button>
                <span class="error-message">Credenciales inválidas</span>
            </section>
            <section class="button-crear">
                <button type="submit" class="quitar">eliminar producto</button>
                <span class="error-message">Credenciales inválidas</span>
            </section>
        </div>
            </form>
        </section>
    </main>

</body>

</html>