<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sm4rtTech</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

</head>

<body class="admin">
    <%- include('./partials/headerAdmin.ejs') %>
        <main class="admin">
            <%- include('./partials/navAdmin.ejs') %>
                <section class="formAdmin">

                    <section class="caja-central-form">
                        <h2>EDITAR PRODUCTOS</h2>
                        <form action="/admin/editar/<%= product.id%>?_method=PUT" method="POST"
                            enctype="multipart/form-data">
                            <section class="datos-usuarios">
                                <div>
                                    <h4>Categorias</h4>
                                    <select name="category" id="">
                                        <option selected hidden value="">Categoria</option>
                                        <option value="celulares" <%- product.category=="celulares" ? "selected" : "" %>
                                            >Celulares</option>
                                        <option value="televisores" <%- product.category=="televisores" ? "selected"
                                            : "" %>>Televisores</option>
                                        <option value="tablets" <%- product.category=="tablets" ? "selected" : "" %>
                                            >Tablets</option>
                                        <option value="gaming" <%- product.category=="gaming" ? "selected" : "" %>
                                            >Gaming</option>
                                    </select>
                                    <% if (locals.errors && errors.category) { %>
                                        <!-- busca en las variables de nuestra aplicacion -->
                                        <small class="text-danger">
                                            <%= errors.category.msg %>
                                        </small>
                                        <% } %>
                                </div>
                                <div>
                                    <h4>marcas</h4>
                                    <select name="marca" id="">
                                        <option selected hidden>Marca...</option>
                                        <option value="Aorus" <%- locals.old && old.marca == "Aorus" ? "selected"
                                            : "Aorus" == product.marca ? `selected` : "" %>>Aorus
                                        </option>
                                        <option value="Aplle" <%- locals.old && old.marca == "Apple" ? "selected"
                                        : "Apple" == product.marca ? `selected` : "" %>>Apple
                                        </option>
                                        <option value="Asus" <%- locals.old && old.marca == "Asus" ? "selected"
                                        : "Asus" == product.marca ? `selected` : "" %>>Asus
                                        </option>
                                        <option value="HP" <%- locals.old && old.marca == "HP" ? "selected"
                                        : "HP" == product.marca ? `selected` : "" %>>HP</option>
                                        <option value="Lenovo" <%- locals.old && old.marca == "Lenovo" ? "selected"
                                        : "Lenovo" == product.marca ? `selected` : "" %>>Lenovo
                                        </option>
                                        <option value="LG" <%- locals.old && old.marca == "LG" ? "selected"
                                        : "LG" == product.marca ? `selected` : "" %>>LG</option>
                                        <option value="Samsung" <%- locals.old && old.marca == "Samsung" ? "selected"
                                        : "Samsung" == product.marca ? `selected` : "" %>>Samsung</option>
                                        <option value="Toshiba" <%- locals.old && old.marca == "Toshiba" ? "selected"
                                        : "Toshiba" == product.marca ? `selected` : "" %>
                                            >Toshiba</option>
                                    </select>
                                </div>
                                <div>
                                    <h4>id del producto</h4>
                                    <input class="input-style" type="text" placeholder="#0000"
                                        value="<%= product.id%> ">
                                </div>
                                <div class="name">
                                    <h4>nombre del producto</h4>
                                    <input class="input-style" type="text" name="name" placeholder="Nombre" value="<%= locals.old ? old.name : product.name%>"  autocomplete="off">
                                        <% if (locals.errors && errors.name) { %>
                                            <small class="text-danger"><%= errors.name.msg %> </small>
                                        <% } %>
                                </div>
                                <div>
                                    <h4>Tamaño de pantalla</h4>
                                    <select name="tamaño" id="">
                                        <option value="">Tamaño</option>
                                        <option value="7''" <%- locals.old && old.tamaño == "7''" ? "selected"
                                        : "7''" == product.tamaño ? `selected` : "" %>>7"</option>
                                        <option value="8.7''" <%- locals.old && old.tamaño == "8.7''" ? "selected"
                                        : "8.7''" == product.tamaño ? `selected` : "" %>>8.7"
                                        </option>
                                        <option value="10''" <%- locals.old && old.tamaño == "10''" ? "selected"
                                        : "10''" == product.tamaño ? `selected` : "" %> >10"
                                        </option>
                                        <option value="10.1''" <%- locals.old && old.tamaño == "10.1''" ? "selected"
                                        : "10.1''" == product.tamaño ? `selected` : "" %> >10.1"
                                        </option>
                                        <option value="10.2''" <%- locals.old && old.tamaño == "10.2''" ? "selected"
                                        : "10.2''" == product.tamaño ? `selected` : "" %> >10.2"
                                        </option>
                                        <option value="10.4''"  <%- locals.old && old.tamaño == "10.4''" ? "selected"
                                        : "10.4''" == product.tamaño ? `selected` : "" %> >10.4"
                                        </option>
                                        <option value="10.9''"  <%- locals.old && old.tamaño == "10.9''" ? "selected"
                                        : "10.9''" == product.tamaño ? `selected` : "" %> >10.9"
                                        </option>
                                        <option value="11''" <%- locals.old && old.tamaño == "11''" ? "selected"
                                        : "11''" == product.tamaño ? `selected` : "" %> >11"
                                        </option>
                                        <option value="11.3''" <%- locals.old && old.tamaño == "11.3''" ? "selected"
                                        : "11.3''" == product.tamaño ? `selected` : "" %> >10.3"
                                        </option>
                                        <option value="11.6''" <%- locals.old && old.tamaño == "11.6''" ? "selected"
                                        : "11.6''" == product.tamaño ? `selected` : "" %> >11.6"
                                        </option>
                                        <option value="13''" <%- locals.old && old.tamaño == "13''" ? "selected"
                                        : "13''" == product.tamaño ? `selected` : "" %> >13"
                                        </option>
                                        <option value="13.3''"  <%- locals.old && old.tamaño == "13.3''" ? "selected"
                                        : "13.3''" == product.tamaño ? `selected` : "" %> >13.3"
                                        </option>
                                        <option value="13.4''" <%- locals.old && old.tamaño == "13.4''" ? "selected"
                                        : "13.4''" == product.tamaño ? `selected` : "" %>>13.4"
                                        </option>
                                        <option value="13.5''" <%- locals.old && old.tamaño == "13.5''" ? "selected"
                                        : "13.5''" == product.tamaño ? `selected` : "" %>>13.5"
                                        </option>
                                        <option value="13.8''" <%- locals.old && old.tamaño == "13.8''" ? "selected"
                                        : "13.8''" == product.tamaño ? `selected` : "" %>>13.8"
                                        </option>
                                        <option value="14''" <%- locals.old && old.tamaño == "14''" ? "selected"
                                        : "14''" == product.tamaño ? `selected` : "" %>>14"
                                        </option>
                                        <option value="14.1''" <%- locals.old && old.tamaño == "14.1''" ? "selected"
                                        : "14.1''" == product.tamaño ? `selected` : "" %>>14.1"
                                        </option>
                                        <option value="15.6''" <%- locals.old && old.tamaño == "15.6''" ? "selected"
                                        : "15.6''" == product.tamaño ? `selected` : "" %>>15.6"
                                        </option>
                                        <option value="24''" <%- locals.old && old.tamaño == "24''" ? "selected"
                                        : "24''" == product.tamaño ? `selected` : "" %>>24"
                                        </option>
                                        <option value="32''" <%- locals.old && old.tamaño == "32''" ? "selected"
                                        : "32''" == product.tamaño ? `selected` : "" %>>32"
                                        </option>
                                        <option value="40''" <%- locals.old && old.tamaño == "40''" ? "selected"
                                        : "40''" == product.tamaño ? `selected` : "" %>>40"
                                        </option>
                                        <option value="42''" <%- locals.old && old.tamaño == "42''" ? "selected"
                                        : "42''" == product.tamaño ? `selected` : "" %>>42"
                                        </option>
                                        <option value="43''" <%- locals.old && old.tamaño == "43''" ? "selected"
                                        : "43''" == product.tamaño ? `selected` : "" %>>43"
                                        </option>
                                        <option value="49''" <%- locals.old && old.tamaño == "49''" ? "selected"
                                        : "49''" == product.tamaño ? `selected` : "" %>>49"
                                        </option>
                                        <option value="50''" <%- locals.old && old.tamaño == "50''" ? "selected"
                                        : "50''" == product.tamaño ? `selected` : "" %>>50"
                                        </option>
                                        <option value="55''" <%- locals.old && old.tamaño == "55''" ? "selected"
                                        : "55''" == product.tamaño ? `selected` : "" %>>55"
                                        </option>
                                        <option value="58''" <%- locals.old && old.tamaño == "58''" ? "selected"
                                        : "58''" == product.tamaño ? `selected` : "" %>>58"
                                        </option>
                                        <option value="60''" <%- locals.old && old.tamaño == "60''" ? "selected"
                                        : "60''" == product.tamaño ? `selected` : "" %>>60"
                                        </option>
                                        <option value="65''" <%- locals.old && old.tamaño == "65''" ? "selected"
                                        : "65''" == product.tamaño ? `selected` : "" %>>65"
                                        </option>
                                        <option value="70''" <%- locals.old && old.tamaño == "70''" ? "selected"
                                        : "70''" == product.tamaño ? `selected` : "" %>>70"
                                        </option>
                                    </select>
                                </div>
                                <div>
                                    <h4>smart</h4>
                                    <select name="smart" id="">
                                        <option value="">Smart</option>
                                        <option value="Si" <%- locals.old && old.smart == "Si" ? "selected"
                                        : "Si" == product.smart ? `selected` : "" %>>Si</option>
                                        <option value="No"  <%- locals.old && old.smart == "No" ? "selected"
                                        : "No" == product.smart ? `selected` : "" %>>No</option>
                                    </select>
                                </div>
                                <div>
                                    <h4>capacidad</h4>
                                    <select name="capacity" id="">
                                        <option value="">GB</option>
                                        <option value="8GB"  <%- locals.old && old.capacity == "8GB" ? "selected"
                                        : "8GB" == product.capacity ? `selected` : "" %>>8GB
                                        </option>
                                        <option value="16GB" <%- locals.old && old.capacity == "16GB" ? "selected"
                                        : "16GB" == product.capacity ? `selected` : "" %>>16GB
                                        </option>
                                        <option value="32GB" <%- locals.old && old.capacity == "32GB" ? "selected"
                                        : "32GB" == product.capacity ? `selected` : "" %>>32GB
                                        </option>
                                        <option value="64GB" <%- locals.old && old.capacity == "64GB" ? "selected"
                                        : "64GB" == product.capacity ? `selected` : "" %>>64GB
                                        </option>
                                        <option value="128GB" <%- locals.old && old.capacity == "128GB" ? "selected"
                                        : "128GB" == product.capacity ? `selected` : "" %>>128GB
                                        </option>
                                        <option value="256GB" <%- locals.old && old.capacity == "256GB" ? "selected"
                                        : "256GB" == product.capacity ? `selected` : "" %>>256GB
                                        </option>
                                        <option value="500GB" <%- locals.old && old.capacity == "500GB" ? "selected"
                                        : "16GB" == product.capacity ? `selected` : "" %>>500GB
                                        </option>
                                        <option value="1TB" <%- locals.old && old.capacity == "1TB" ? "selected"
                                        : "1TB" == product.capacity ? `selected` : "" %>>1TB
                                        </option>
                                    </select>
                                </div>
                                <div class="apellido">
                                    <h4>RAM</h4>
                                    <select name="ram" id="">
                                        <option value="">RAM</option>
                                        <option value="1GB" <%- locals.old && old.ram == "1GB" ? "selected"
                                        : "1GB" == product.ram ? `selected` : "" %>>1GB</option>
                                        <option value="1.5GB" <%- locals.old && old.ram == "1.5GB" ? "selected"
                                        : "1.5GB" == product.ram ? `selected` : "" %>>1.5GB
                                        </option>
                                        <option value="2GB" <%- locals.old && old.ram == "2GB" ? "selected"
                                        : "2GB" == product.ram ? `selected` : "" %>>2GB</option>
                                        <option value="4GB" <%- locals.old && old.ram == "4GB" ? "selected"
                                        : "4GB" == product.ram ? `selected` : "" %>>4GB</option>
                                        <option value="8GB" <%- locals.old && old.ram == "8GB" ? "selected"
                                        : "8GB" == product.ram ? `selected` : "" %>>8GB</option>
                                        <option value="12GB"  <%- locals.old && old.ram == "12GB" ? "selected"
                                        : "12GB" == product.ram ? `selected` : "" %>>12GB</option>
                                        <option value="16GB" <%- locals.old && old.ram == "16GB" ? "selected"
                                        : "16GB" == product.ram ? `selected` : "" %>>16GB</option>
                                        <option value="20GB"  <%- locals.old && old.ram == "20GB" ? "selected"
                                        : "20GB" == product.ram ? `selected` : "" %>>20GB</option>
                                        <option value="32GB"  <%- locals.old && old.ram == "32GB" ? "selected"
                                        : "32GB" == product.ram ? `selected` : "" %>>32GB</option>
                                        <option value="64GB"  <%- locals.old && old.ram == "64GB" ? "selected"
                                        : "64GB" == product.ram ? `selected` : "" %>>64GB</option>
                                    </select>
                                </div>
                                <div>
                                    <h4>Precio</h4>
                                    <input class="input-style" type="text" id="price" name="price"
                                        value="<%= locals.old ? old.price: product.price%>" autocomplete="off">
                                    <% if (locals.errors && errors.price) { %>
                                        <!-- busca en las variables de nuestra aplicacion -->
                                        <small class="text-danger">
                                            <%= errors.price.msg %>
                                        </small>
                                        <% } %>
                                </div>

                                <section class="img-coment">
                                    <div>
                                        <h4>Imagenes</h4>
                                        <input class="input-file" type="file" multiple="" name="image" id="image">
                                    </div>
                                    <h4>descripción</h4>
                                    <textarea name="description" id="" cols="30" rows="10"><%= locals.old ? old.description : product.description %></textarea>
                                    <% if (locals.errors && errors.description) { %>
                                        <!-- busca en las variables de nuestra aplicacion -->
                                        <small class="text-danger">
                                            <%= errors.description.msg %>
                                        </small>
                                        <% } %>
                                </section>

                            </section>
                            <div class="botones-confirm">
                                <section class="button-crear">
                                    <button type="submit" class="guardar" cursor="pointer">guardar</button>
                                    <span class="error-message">Credenciales inválidas</span>
                                </section>


                            </div>
                        </form>
                        <section class="button-crear">
                            <form action="/admin/delete/<%- product.id %>?_method=DELETE" method="POST">

                                <button type="submit" class="quitar">eliminar producto</button>
                                <span class="error-message">Credenciales inválidas</span>
                            </form>
                        </section>
                    </section>
        </main>

</body>

</html>