<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sm4rtTech</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

</head>

<body class="admin">
    <%- include('./partials/headerAdmin.ejs') %>
        <main class="admin">  
            <%- include('./partials/navAdmin.ejs') %>
                <section class="formAdmin">

                    <section class="caja-central-form">
                        <h2>EDITAR PRODUCTOS</h2>
                        <form action="/admin/editar/<%= product.id%>?_method=PUT" method="POST"
                            enctype="multipart/form-data">
                            <section class="datos-usuarios">
                                <div>
                                    <h4>Categorias</h4>
                                    <select name="category" id="">
                                        <option selected hidden value="">Categoria</option>
                                        <% categorias.forEach(categoria => { %>
                                            <option value="<%= categoria.id %>"  <%= locals.old && old.category == categoria.id ? "selected" : null %>><%= categoria.category %></option>
                                        <% }) %>
                                    </select>
                                    <% if (locals.errors && errors.category) { %>
                                        <!-- busca en las variables de nuestra aplicacion -->
                                        <small class="text-danger">
                                            <%= errors.category.msg %>
                                        </small>
                                        <% } %>
                                </div>
                                <div>
                                    <h4>marcas</h4>
                                    <select name="marca" id="">
                                        <option selected hidden>Marca...</option>
                                        <% marcas.forEach(marca => { %>
                                            <option value="<%= marca.id %>" <%- product.brand_id == marca.brand_id ? "selected" : "" %>><%= marca.brand %></option>
                                        <% }) %>
                                    </select>
                                </div>
                                <div>
                                    <h4>id del producto</h4>
                                    <input class="input-style" type="text" placeholder="#0000"
                                        value="<%= product.id%> ">
                                </div>
                                <div class="name">
                                    <h4>nombre del producto</h4>
                                    <input class="input-style" type="text" name="name" placeholder="Nombre" value="<%= locals.old ? old.name : product.name%>"  autocomplete="off">
                                        <% if (locals.errors && errors.name) { %>
                                            <small class="text-danger"><%= errors.name.msg %> </small>
                                        <% } %>
                                </div>
                                <div>
                                    <h4>Tamaño de pantalla</h4>
                                    <select name="tamaño" id="">
                                        <option value="">Tamaño</option>
                                        <% tamaños.forEach(tamaño => { %>
                                            <option value="<%= tamaño.id %>" <%- locals.old && old.tamaño.size_id == tamaño.id ? "selected" : "" %>><%= tamaño.sizes %></option>
                                        <% }) %>
                                    </select>
                                </div>
                                <div>
                                    <h4>smart</h4>
                                    <select name="smart" id="">
                                        <option value="">Smart</option>
                                        <option value="<%= product.smart == true %> " <%= locals.old && old.smart == true ? "selected" : null %>>Si</option>
                                        <option value="<%= product.smart == false %> " <%= locals.old && old.smart == false ? "selected" : null %> %>>No</option>
                                    </select>
                                </div>
                                <div>
                                    <h4>capacidad</h4>
                                    <select name="capacity" id="">
                                        <option value="">GB</option>
                                        <% capacidades.forEach(capacidad => { %>
                                            <option value="<%= capacidad.capacity_id %>" <%= locals.old && old.capacity == capacidad.capacity_id ? "selected" : null %>><%= capacidad.capacity %></option>
                                        <% }) %>
                                    </select>
                                </div>
                                <div class="apellido">
                                    <h4>RAM</h4>
                                    <select name="ram" id="">
                                        <option value="">RAM</option>
                                        <% rams.forEach(ram => { %>
                                            <option value="<%= ram.ram_id %>" <%= locals.old && old.ram == ram.ram_id ? "selected" : null %>><%= ram.ram %></option>
                                        <% }) %>
                                        
                                    </select>
                                </div>
                                <div>
                                    <h4>Precio</h4>
                                    <input class="input-style" type="text" id="price" name="price"
                                        value="<%= locals.old ? old.price: product.price%>" autocomplete="off">
                                    <% if (locals.errors && errors.price) { %>
                                        <!-- busca en las variables de nuestra aplicacion -->
                                        <small class="text-danger">
                                            <%= errors.price.msg %>
                                        </small>
                                        <% } %>
                                </div>

                                <section class="img-coment">
                                    <div>
                                        <h4>Imagenes</h4>
                                        <input class="input-file" type="file" multiple="" name="image" id="image">
                                    </div>
                                    <h4>descripción</h4>
                                    <textarea name="description" id="" cols="30" rows="10"><%= locals.old ? old.description : product.description %></textarea>
                                    <% if (locals.errors && errors.description) { %>
                                        <!-- busca en las variables de nuestra aplicacion -->
                                        <small class="text-danger">
                                            <%= errors.description.msg %>
                                        </small>
                                        <% } %>
                                </section>

                            </section>
                            <div class="botones-confirm">
                                <section class="button-crear">
                                    <button type="submit" class="guardar" cursor="pointer">guardar</button>
                                    <span class="error-message">Credenciales inválidas</span>
                                </section>


                            </div>
                        </form>
                        <section class="button-crear">
                            <form action="/admin/delete/<%- product.id %>?_method=DELETE" method="POST">

                                <button type="submit" class="quitar">eliminar producto</button>
                                <span class="error-message">Credenciales inválidas</span>
                            </form>
                        </section>
                    </section>
        </main>

</body>

</html>